<main class="main">
    <div class="box">
        <h1 class="title">Fatalis (ミラボレアス黒龍)</h1>
        <h3><br>Su nombre es Fatalis
            <br>wyvern del destino
            <br>Su nombre es Fatalis
            <br>el wyvern de la destrucción
            <br>Pedid ayuda
            <br>Salvad la vida
            <br>Y no olvidéis vuestras plegarias en la huida.</h3>
            <h3 class="Leyenda">- La Leyenda del Dragón Negro</h3>
            <img src="../assets/img/images.png" class="Fatalis_imagen"/>
            <p>Fatalis</p>
            <div>
                <audio id="miAudio" src="FatalisMiniWiki\src\assets\audio\Fatalis Roar.mp3"></audio>

                <button id="botonAudio" class="btn btn-danger">
                    ▶ Reproducir
                </button>
                <button type="button" class="btn btn-danger">Danger</button>
            
                <script>
                    const audio = document.getElementById("miAudio");
                    const boton = document.getElementById("botonAudio");
            
                    boton.addEventListener("click", () => {
                        if (audio.paused) {
                            audio.play();
                            boton.innerHTML = "⏸ Pausar";
                        } else {
                            audio.pause();
                            boton.innerHTML = "▶ Reproducir";
                        }
                    });
                </script>
            </div>
    </div>
    <div class="box">
        <div>
        <h3>Fatalis es un Dragón Anciano y el jefe final del primer Monster Hunter.</h3>
        <h2 class="title">Apariencia</h2>
        <h3>Fatalis posee la apariencia de un dragón europeo típico, con cuatro patas y dos grandes alas como las de un murciélago. 
            Está cubierto de escamas negras con cierto lustre morado. Sobre su cabeza crecen dos grandes cuernos y una hilera de espinas recorre su lomo hasta la punta de la cola.
             Posee una cola larga y se desplaza tanto reptando como a dos patas. Sus ojos son amarillos y tiene una larga lengua roja.</h3>
        <iframe width="560" height="315" src="FatalisMiniWiki\src\assets\video\Monster Hunter World Iceborne Fatalis Intro Cutscene.mp4" 
             frameborder="0" allowfullscreen class="video"></iframe>
     
            </div>
    </div>
</main>



<router-outlet />
